In [1]:
import sqlite3
from sqlite3 import Error

import pandas as pd

from sqlalchemy import create_engine
# from sqlalchemy.orm import Session

# from sqlalchemy import Column, Integer, String, Float, Boolean, DateTime

# from sqlalchemy.ext.declarative import declarative_base
# Base = declarative_base()

In [2]:
conn = sqlite3.connect('Data/isp.db')

In [7]:
# conn.execute('''CREATE TABLE ATT_Other_Cities
#     (address_full varchar(100) PRIMARY KEY,
#     incorporated_place varchar(50),
#     major_city varchar(50),
#     state varchar(4),
#     lat float,
#     lon float,
#     availability_status varchar(20),
#     block_group bigint,
#     collection_datetime datetime,
#     provider varchar(20),
#     speed_down float,
#     speed_up float,
#     speed_unit varchar(10),
#     price double,
#     technology varchar(20),
#     package varchar(100),
#     fastest_speed_down float,
#     fastest_speed_price double,
#     fn varchar(200),
#     redlining_grade varchar(2),
#     geoid bigint,
#     race_perc_non_white double,
#     internet_perc_broadband double,
#     median_household_income float
#     );''')

In [15]:
# class ATT_Other_Cities(Base):
#     __tablename__ = 'ATT_Other_Cities'
#     address_full = Column(String(100), primary_key=True)
#     incorporated_place = Column(String(50))
#     major_city = Column(String(50))
#     state = Column(String(4))
#     lat = Column(Float)
#     lon = Column(Float)
#     availability_status = Column(String(20))
#     block_group = Column(Integer)
#     collection_datetime = Column(DateTime)
#     provider = Column(String(20))
#     speed_down = Column(Float)
#     speed_up = Column(Float)
#     speed_unit = Column(String(10))
#     price = Column(Float)
#     technology = Column(String(20))
#     package = Column(String(100))
#     fastest_speed_down = Column(Float)
#     fastest_speed_price = Column(Float)
#     fn = Column(String(200))
#     redlining_grade = Column(String(2))
#     geoid = Column(Integer)
#     race_perc_non_white = Column(Float)
#     internet_perc_broadband = Column(Float)
#     median_household_income = Column(Float)

In [3]:
engine = create_engine('sqlite:///Data/isp.db')

In [4]:
minneapolis_df = pd.read_csv('Data/minneapolis_centurylink_plans.csv')

In [5]:
minneapolis_df.to_sql('Minneapolis_CenturyLink', conn, if_exists='append', index= False)

11583

In [10]:
c = conn.cursor()

results = c.execute('''SELECT * from Minneapolis_CenturyLink''').fetchall()

results[0]

('3739 SNELLING AVE,MINNEAPOLIS,MN 55406,USA',
 'minneapolis',
 'MN',
 44.9348799,
 -93.2257266,
 270531088001,
 1650164907,
 'CenturyLink',
 50.0,
 200.0,
 200.0,
 'Mbps',
 'Fiber',
 'HSI Upto 200 Mbps/200 Mbps Prepaid',
 940.0,
 65.0,
 'Blazing (≥200)',
 'D',
 0.6405750798722045,
 'least white',
 60417.0,
 5651.0,
 'Middle-Lower',
 3329.255969792054,
 3.0,
 0.6080246913580247)

In [11]:
names = list(map(lambda x: x[0], c.description))

data = pd.DataFrame(results, columns=names)

In [12]:
data.head()

,address_full,major_city,state,lat,lon,block_group,collection_datetime,provider,price,speed_down,...,speed_down_bins,redlining_grade,race_perc_non_white,race_quantile,median_household_income,income_dollars_below_median,income_level,ppl_per_sq_mile,n_providers,internet_perc_broadband
0,"3739 SNELLING AVE,MINNEAPOLIS,MN 55406,USA",minneapolis,MN,44.934880,-93.225727,270531088001,1650164907,CenturyLink,50.0,200.0,...,Blazing (≥200),D,0.640575,least white,60417.0,5651.0,Middle-Lower,3329.25597,3.0,0.608025
1,"3636 34TH AVE S,MINNEAPOLIS,MN 55406,USA",minneapolis,MN,44.936622,-93.223331,270531088001,1650164906,CenturyLink,50.0,200.0,...,Blazing (≥200),B,0.640575,least white,60417.0,5651.0,Middle-Lower,3329.25597,3.0,0.608025
2,"3740 SNELLING AVE,MINNEAPOLIS,MN 55406,USA",minneapolis,MN,44.934692,-93.226591,270531088001,1650164915,CenturyLink,50.0,200.0,...,Blazing (≥200),D,0.640575,least white,60417.0,5651.0,Middle-Lower,3329.25597,3.0,0.608025
3,"3759 1/2 SNELLING AVE,MINNEAPOLIS,MN 55406,USA",minneapolis,MN,44.934468,-93.225210,270531088001,1650164918,CenturyLink,50.0,30.0,...,Medium (25-99),D,0.640575,least white,60417.0,5651.0,Middle-Lower,3329.25597,3.0,0.608025
4,"3741 MINNEHAHA AVE,MINNEAPOLIS,MN 55406,USA",minneapolis,MN,44.934691,-93.223820,270531088001,1650164916,CenturyLink,50.0,200.0,...,Blazing (≥200),C,0.640575,least white,60417.0,5651.0,Middle-Lower,3329.25597,3.0,0.608025

In [13]:
conn.close()